@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f7f8fd;
    --background-blur: #1f1f1f80;
    --foreground: #010101;

    --primary: #1f1f1f;
    --primary-foreground: #f6f6f6;
    --card-foreground: #000000;
    --popover: #ffffff;
    --popover-foreground: #000000;
    --secondary: #d1d1d1;
    --secondary-foreground: #1f1f1f;
    --muted: #d1d1d1;
    --muted-foreground: #717171;
    --accent: #d1d1d1;
    --accent-foreground: #1f1f1f;
    --destructive: #e63946;
    --destructive-foreground: #f6f6f6;
    --input: #cccccc;
    --ring: #1f1f1f;
    --radius: 0.5rem;

    --card: #e6ebff;
    --appbar: #e6ebff;
    --appbar-foreground: #1f202a;
    --border: #1f1f1f;
  }

  .dark {
    --background: #121418;
    --background-blur: #f6f6f680;
    --foreground: #f7f8fd;
    --primary: #f6f6f6;
    --primary-foreground: #1f1f1f;
    --card-foreground: #f6f6f6;
    --popover: #2c2c2c;
    --popover-foreground: #f6f6f6;
    --secondary: #2c2c2c;
    --secondary-foreground: #f6f6f6;
    --muted: #2c2c2c;
    --muted-foreground: #cacaca;
    --accent: #2c2c2c;
    --accent-foreground: #f6f6f6;
    --destructive: #e63946;
    --destructive-foreground: #f6f6f6;
    --input: #3c3c3c;
    --ring: #cacaca;
    
    --appbar: #1f202a;
    --border: #e4e4e4;
    --card: #1f202a;
  }

  .loader {
    @apply w-[1.5rem] h-[1.5rem] border-t-[3.5px] border-[3.5px] border-background-blur border-t-foreground rounded-full animate-spin;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
