@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f6f6f6;
    --foreground: #1f1f1f;

    --primary: #1f1f1f;
    --primary-foreground: #f6f6f6;
    --card: #ffffff;
    --card-foreground: #000000;
    --popover: #ffffff;
    --popover-foreground: #000000;
    --secondary: #d1d1d1;
    --secondary-foreground: #1f1f1f;
    --muted: #d1d1d1;
    --muted-foreground: #717171;
    --accent: #d1d1d1;
    --accent-foreground: #1f1f1f;
    --destructive: #e63946;
    --destructive-foreground: #f6f6f6;
    --input: #cccccc;
    --ring: #1f1f1f;
    --radius: 0.5rem;

    --appbar: #e4e4e4;
    --appbar-foreground: #2e2e2e;
    --border: #1f1f1f;
  }

  .dark {
    --background: #1f1f1f;
    --foreground: #f6f6f6;
    --primary: #f6f6f6;
    --primary-foreground: #1f1f1f;
    --card: #2c2c2c;
    --card-foreground: #f6f6f6;
    --popover: #2c2c2c;
    --popover-foreground: #f6f6f6;
    --secondary: #2c2c2c;
    --secondary-foreground: #f6f6f6;
    --muted: #2c2c2c;
    --muted-foreground: #cacaca;
    --accent: #2c2c2c;
    --accent-foreground: #f6f6f6;
    --destructive: #e63946;
    --destructive-foreground: #f6f6f6;
    --input: #3c3c3c;
    --ring: #cacaca;
    --appbar: #2e2e2e;
    --border: #e4e4e4;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
